
# IAR Settings  
**/settings/*.*
**/settings/*.crun  
**/settings/*.dbgdt  
**/settings/*.cspy  
**/settings/*.cspy.*  
**/settings/*.xcl  
**/settings/*.dni  
**/settings/*.wsdt  
**/settings/*.wspos  


**/BrowseInfo/
**/List/
**/Obj/

# IAR Debug Exe  
**/Exe/*.sim  

# IAR Debug Obj  
**/Obj/*.*
**/Obj/*.pbd  
**/Obj/*.pbd.*  
**/Obj/*.pbi  
**/Obj/*.pbi.*  
/.vscode/BROWSE.*

**/*.dep

**/*.ninja_log
**/*.ninja_deps
**/*.log
**/*.xcl
**/*.lst
**/*.map
**/*.o



